/*The lines below have been edited*/
/**
 * @name NatsukiVision
 * @author Strawberry
 * @version 6.9.2
 * @description The best background possible.
 * @source https://github.com/Wehrmachtserdbeere/CV-NatsukiVision
 * @website https://github.com/Wehrmachtserdbeere/CV-NatsukiVision
*/

/*
 * As per Apache 2.0 License requirement, comments will be added above or below edited portions.
 * The above lines have been edited, as well as the one directly below
 */

 @import url("https://clearvision.github.io/ClearVision-v7/main.css");
 @import url("https://clearvision.github.io/ClearVision-v7/betterdiscord.css");
 @import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css");
 
 :root {
   /*The following lines have been edited*/
   --main-color: #E62794;
   --hover-color: #9F1E68;
   --success-color: #349F34;
   /* STATUS COLORS */
   --online-color: #43b581;
   --idle-color: #faa61a;
   --dnd-color: #982929;
   --streaming-color: #593695;
   --offline-color: #808080;
   /*The above lines have been edited*/
   --danger-color: #FF0000;
   --url-color: #00B3FF;
   /*The below line of code includes protected artwork. Commercial distribution is not allowed, and credits to the artist (italy2003) must be given.*/
   --background-image: url('https://i.imgur.com/IebcgFH.jpeg');
   /*The above line of code includes protected artwork. Commercial distribution is not allowed, and credits to the artist (italy2003) must be given.*/
   --background-attachment: fixed;
   --user-popout-image: var(--background-image);
   --user-popout-attachment: var(--background-attachment);
   --user-modal-image: var(--background-image);
   --user-modal-attachment: var(--background-attachment);
   --background-shading: 100%;
   --background-position: center;
   --background-size: cover;
   --background-repeat: no-repeat;
   --background-attachment: fixed;
   --background-brightness: 100%;
   --background-contrast: 100%;
   --background-saturation: 100%;
   --background-grayscale: 0%;
   --background-invert: 0%;
   /*The below lines have been edited*/
   --background-blur: 1px;
   --background-overlay: rgb(84,0,80,0.32);
   /*The above lines have been edited*/
   --user-popout-position: center;
   --user-popout-size: cover;
   --user-popout-repeat: no-repeat;
   --user-popout-attachment: fixed;
   --user-popout-brightness: 100%;
   --user-popout-contrast: 100%;
   --user-popout-saturation: 100%;
   --user-popout-grayscale: 0%;
   --user-popout-invert: 0%;
   /*The below lines have been edited*/
   --user-popout-blur: 2px;
   /*The below line of code includes protected artwork. Commercial distribution is not allowed, and credits to the artist (italy2003) must be given.*/
   --user-modal-image: url('https://i.imgur.com/IebcgFH.jpeg');
   /*The above line of code includes protected artwork. Commercial distribution is not allowed, and credits to the artist (italy2003) must be given.*/
   /*The above lines have been edited*/
   --user-modal-position: center;
   --user-modal-size: cover;
   --user-modal-repeat: no-repeat;
   --user-modal-attachment: fixed;
   --user-modal-brightness: 100%;
   --user-modal-contrast: 100%;
   --user-modal-saturation: 100%;
   --user-modal-grayscale: 0%;
   --user-modal-invert: 0%;
   /*The below lines have been edited*/
   --user-modal-blur: 2px;
   /*The below line of code includes protected artwork. Commercial distribution is not allowed, and credits to the artist (italy2003) must be given.*/
   --home-icon: url('https://i.imgur.com/5Aegkr4.png');
   /*The above line of code includes protected artwork. Commercial distribution is not allowed, and credits to the artist (italy2003) must be given.*/
   /*The above lines have been edited*/
   --home-position: center;
   --home-size: 56px;
   /*The below lines have been edited*/
   --channel-unread: #00FF00;
   /*The above lines have been edited*/
   --channel-color: rgb(255,255,255,1);
   --muted-color: rgb(165,165,165,1);
   /*The below lines have been edited*/
   --main-font: DFPPOPCorn-W12;
   --code-font: OCR A Extended;
   --background-filter: rgba(0, 0, 0, 0);
   --user-popout-filter: var(--background-filter);
   --user-modal-filter: var(--background-filter);
   /*The above lines have been edited*/
   --channels-width: 220px;
   --members-width: 240px;
   --backdrop-overlay: rgba(0,0,0,0.8);
   --backdrop-image: var(--background-image);
   --backdrop-position: var(--background-position);
   --backdrop-size: var(--background-size);
   --backdrop-repeat: var(--background-repeat);
   --backdrop-attachment: var(--background-attachment);
   --backdrop-brightness: var(--background-brightness);
   --backdrop-contrast: var(--background-contrast);
   --backdrop-saturation: var(--background-saturation);
   --backdrop-invert: var(--background-invert);
   --backdrop-grayscale: var(--background-grayscale);
   --backdrop-sepia: var(--background-sepia);
   --backdrop-blur: var(--background-blur);
   --bd-blue: var(--main-color);
   --bd-blue-hover: var(--hover-color);
   --bd-blue-active: var(--hover-color);
   --rs-small-spacing: 1px;
   --rs-medium-spacing: 1px;
   --rs-large-spacing: 1px;
   --rs-small-width: 2.5px;
   --rs-medium-width: 5px;
   --rs-large-width: 5px;
   --rs-avatar-shape: 50%;
   --rs-online-color: #43B581;
   --rs-idle-color: #faa61a;
   --rs-dnd-color: #f04747;
   --rs-offline-color: #636b75;
   --rs-streaming-color: #643da7;
   --rs-phone-visible: block;
   --columns: 1;
   --guildsize: 57;
 }
 
 /* DARK THEME - NEW UI EXCLUSIVE */
 :is(.theme-darker, .theme-light .theme-darker) {
   --background-shading: rgba(0, 0, 0, 0.6);
   --background-shading-percent: 100%;
   --card-shading: rgba(0, 0, 0, 0.4);
   --popout-shading: rgba(0, 0, 0, 0.7);
   --modal-shading: rgba(0, 0, 0, 0.5);
   --input-shading: rgba(255, 255, 255, 0.05);
   --normal-text: #fbfbfb;
   --muted-text: #94949c;
 }
 
 /* MIDNIGHT THEME - NEW UI EXCLUSIVE */
 :is(.theme-midnight, .theme-light .theme-midnight) {
   --background-shading: rgba(0, 0, 0, 0);
   --background-shading-percent: 0%;
   --card-shading: rgba(0, 0, 0, 0);
   --popout-shading: rgba(0, 0, 0, 0);
   --modal-shading: rgba(0, 0, 0, 0);
   --input-shading: rgba(0, 0, 0, 0);
   --normal-text: #dcdcde;
   --muted-text: #86868e;
 }
 
 /* Any custom CSS below here */
 /*The below lines have been edited*/
 
 .leading_c38106::before {
   content:"NatsukiVision" !important;
   color:rgba(255,0,255,.7);
   font-size:14px;
   text-shadow:0 0 3px #000
 }
 
 .theme-dark .container_b2ca13:before{
     display: none;
 }
 
 .typeWindows__421ed>.wordmark__421ed:after{
     display: none;
 }
 
 .theme-dark .container_b2ca13:after{
     display: none;
 }
 
 .standardSidebarView_c25c6d .sidebar_c25c6d .side_a0 .item_a0{
   color: #ffffff;
 }
 
 .standardSidebarView_c25c6d .sidebar_c25c6d .side_a0 .item_a0 {
   color: #ffffff;
 }
 
 :root {
   --server-unread-colour: 0, 255, 25;
   --server-hover-colour: 255, 255, 255;
   --server-selected-colour: var(--accent, 0, 231, 105);
   --server-spacing: 20px;
   --server-glow-intensity: 1;
 }
 
 .icon__6e9f8 {
   border-radius: 50%;
 }
 
 #gif-picker-tab-panel > div.header_b56bbc {
   background-color: rgba(0,0,0,0);
   box-shadow: 0 0 0px rgba(0,0,0,0);
 }
 
 /*Show full Bio in the Profile instead of only part of it*/
 .descriptionClamp_f5f93a {
   --webkit-line-clamp: unset;
 }
 .maxBioHeight_f5f93a {
   max-height: unset;
 }
 
 .item__58105 {
   width: 12px;
   background-color: #00ff00
 }
 
 /* Delete the "Discovery" area because it's now fixed to the bottom of the screen >:(*/
 #app-mount .footer__214dc {
   display: none;
 }
 
 /* Fix the "Unread Mentions" area to the bottom of the server list */
 #app-mount .unreadMentionsIndicatorBottom_ef3116 {
   bottom: 0;
 }
 
 #app-mount .reactionBtn_ec6b19.forceShow_ec6b19
 {
   opacity: 0.5;
 }
 
 /* Server inside folder */
 .listItem__650eb
 {
   margin-top: 7px;
 }

 .container__37e49
 {
   background: none !important;
   background-color: rgba(0,0,0,0.25) !important;
 }
 
 .visual-refresh .panels_c48ade {
   background: rgb(0,0,0,0.32);
 }

 /* Remove top watermark*/
  .title__85643 {
    display: none !important;
  }
 
 /*The above lines, as well as the current one, have been edited*/