/*The lines below have been edited*/
/**
 * @name NatsukiVision
 * @author Strawberry
 * @version 6.9.0
 * @description The best background possible.
 * @source https://github.com/Wehrmachtserdbeere/CV-NatsukiVision
 * @website https://github.com/Wehrmachtserdbeere/CV-NatsukiVision
*/

/*
 * As per Apache 2.0 License requirement, comments will be added above or below edited portions.
 * The above lines have been edited, as well as the one directly below
 */

 @import url('https://clearvision.github.io/ClearVision-v6/main.css');
 @import url('https://raw.githubusercontent.com/ClearVision/ClearVision-v6/gh-pages/main.css');
 @import url('https://nyri4.github.io/Discolored/main.css');
 
 @import url("https://discordstyles.github.io/SoftX/ServerRings.css");
 
 :root {
   /*The following lines have been edited*/
   --main-color: #E62794;
   --hover-color: #9F1E68;
   --success-color: #349F34;
   /*The above lines have been edited*/
   --danger-color: #FF0000;
   --url-color: #00B3FF;
   /*The below line of code includes protected artwork. Commercial distribution is not allowed, and credits to the artist (italy2003) must be given.*/
   --background-image: url('https://i.imgur.com/IebcgFH.jpeg');
   /*The above line of code includes protected artwork. Commercial distribution is not allowed, and credits to the artist (italy2003) must be given.*/
   --background-shading: 100%;
   --background-position: center;
   --background-size: cover;
   --background-repeat: no-repeat;
   --background-attachment: fixed;
   --background-brightness: 100%;
   --background-contrast: 100%;
   --background-saturation: 100%;
   --background-grayscale: 0%;
   --background-invert: 0%;
   /*The below lines have been edited*/
   --background-blur: 1px;
   --background-overlay: rgb(84,0,80,0.32);
   /*The above lines have been edited*/
   --user-popout-position: center;
   --user-popout-size: cover;
   --user-popout-repeat: no-repeat;
   --user-popout-attachment: fixed;
   --user-popout-brightness: 100%;
   --user-popout-contrast: 100%;
   --user-popout-saturation: 100%;
   --user-popout-grayscale: 0%;
   --user-popout-invert: 0%;
   /*The below lines have been edited*/
   --user-popout-blur: 2px;
   /*The below line of code includes protected artwork. Commercial distribution is not allowed, and credits to the artist (italy2003) must be given.*/
   --user-modal-image: url('https://i.imgur.com/IebcgFH.jpeg');
   /*The above line of code includes protected artwork. Commercial distribution is not allowed, and credits to the artist (italy2003) must be given.*/
   /*The above lines have been edited*/
   --user-modal-position: center;
   --user-modal-size: cover;
   --user-modal-repeat: no-repeat;
   --user-modal-attachment: fixed;
   --user-modal-brightness: 100%;
   --user-modal-contrast: 100%;
   --user-modal-saturation: 100%;
   --user-modal-grayscale: 0%;
   --user-modal-invert: 0%;
   /*The below lines have been edited*/
   --user-modal-blur: 2px;
   /*The below line of code includes protected artwork. Commercial distribution is not allowed, and credits to the artist (italy2003) must be given.*/
   --home-icon: url('https://i.imgur.com/5Aegkr4.png');
   /*The above line of code includes protected artwork. Commercial distribution is not allowed, and credits to the artist (italy2003) must be given.*/
   /*The above lines have been edited*/
   --home-position: center;
   --home-size: 56px;
   /*The below lines have been edited*/
   --channel-unread: #00FF00;
   /*The above lines have been edited*/
   --channel-color: rgb(255,255,255,1);
   --muted-color: rgb(165,165,165,1);
   --online-color: #43B581;
   --idle-color: #faa61a;
   --dnd-color: #982929;
   --streaming-color: #593695;
   --offline-color: #808080;
   /*The below lines have been edited*/
   --main-font: DFPPOPCorn-W12;
   --code-font: OCR A Extended;
   /*The above lines have been edited*/
   --channels-width: 220px;
   --members-width: 240px;
   --backdrop-overlay: rgba(0,0,0,0.8);
   --backdrop-image: var(--background-image);
   --backdrop-position: var(--background-position);
   --backdrop-size: var(--background-size);
   --backdrop-repeat: var(--background-repeat);
   --backdrop-attachment: var(--background-attachment);
   --backdrop-brightness: var(--background-brightness);
   --backdrop-contrast: var(--background-contrast);
   --backdrop-saturation: var(--background-saturation);
   --backdrop-invert: var(--background-invert);
   --backdrop-grayscale: var(--background-grayscale);
   --backdrop-sepia: var(--background-sepia);
   --backdrop-blur: var(--background-blur);
   --bd-blue: var(--main-color);
   --bd-blue-hover: var(--hover-color);
   --bd-blue-active: var(--hover-color);
   --rs-small-spacing: 1px;
   --rs-medium-spacing: 1px;
   --rs-large-spacing: 1px;
   --rs-small-width: 2.5px;
   --rs-medium-width: 5px;
   --rs-large-width: 5px;
   --rs-avatar-shape: 50%;
   --rs-online-color: #43B581;
   --rs-idle-color: #faa61a;
   --rs-dnd-color: #f04747;
   --rs-offline-color: #636b75;
   --rs-streaming-color: #643da7;
   --rs-phone-visible: block;
 }
 
 /* Any custom CSS below here */
 /*The below lines have been edited*/
 
 .typeWindows_a934d8>.wordmark_a934d8:before {
     content:"NatsukiVision";
     color:rgba(255,0,255,.7);
     font-size:14px;
     text-shadow:0 0 3px #000
 }
 
 .theme-dark .container_b2ca13:before{
     display: none;
 }
 
 .typeWindows_a934d8>.wordmark_a934d8:after{
     display: none;
 }
 
 .theme-dark .container_b2ca13:after{
     display: none;
 }
 
 .standardSidebarView_c25c6d .sidebar_c25c6d .side_a0 .item_a0{
   color: #ffffff;
 }
 
 .standardSidebarView_c25c6d .sidebar_c25c6d .side_a0 .item_a0 {
   color: #ffffff;
 }
 
 :root {
   --server-unread-colour: 0, 255, 25;
   --server-hover-colour: 255, 255, 255;
   --server-selected-colour: var(--accent, 0, 231, 105);
   --server-spacing: 10px;
   --server-glow-intensity: 1;
 }
 
 #app-mount .listItem__650eb [class*=pill] .item__58105 {
   height: 80% !important; /*Edit this to your required size, on my end this is a bit inside behind the Server*/
   width: 80%; /*Keep this the same as height, or it will become an oval.*/
   margin: 0;
   margin-left: 0.7px; /*If you edit "border", "height", or "width", you HAVE to edit this, since they messes up the alignment!!*/
   border-radius: var(--server-roundness, 50%); /*This should be the same as your Server Roundness if you changed it.*/
   background: transparent;
   border: 7px solid transparent; /*Make this as thick as you want. I have it thick so it doesn't disconnect when clicking on a Server, since the icon shrinks briefly.*/
   box-shadow: none;
   transform: none !important;
   transition: var(--transition);
   transition-property: box-shadow;
 }
 
 #app-mount .item__58105 [class*=pill] span[style*="height: 8"] {
   box-shadow: 0 0 calc(var(--server-glow-intensity)* 15px) calc(var(--server-glow-intensity)* 5px) rgb(var(--server-unread-colour), 0.25);
   border-color: rgb(var(--server-unread-colour));
 }
 
 #app-mount .item__58105 [class*=pill] {
   width: 47px;
   height: 47px;
   margin-left: -3px;
 }
 #app-mount .item__58105 [class*=pill] .item_fd07a3 {
   border-width: 6px; /*Edit this to change the thickness of the Server Circle. Will mess up the "malign" part from above.*/
 }
 
 #gif-picker-tab-panel > div.header_b56bbc {
   background-color: rgba(0,0,0,0);
   box-shadow: 0 0 0px rgba(0,0,0,0);
 }
 
 /*Show full Bio in the Profile instead of only part of it*/
 .descriptionClamp_f5f93a {
   -webkit-line-clamp: unset;
 }
 .maxBioHeight_abaf7d {
   max-height: unset;
 }
 
 /* Delete the "Discovery" area because it's now fixed to the bottom of the screen >:(*/
 #app-mount .footer__214dc {
   display: none;
 }
 
 #app-mount .unreadMentionsFixedFooter_fea3ef {
   bottom: 0;
 }
 
 #app-mount .reactionBtn_ec6b19.forceShow_ec6b19
 {
   opacity: 0.5;
 }
 
 .listItem__650eb
 {
   margin-top: 7px;
 }
 
 /*The above lines, as well as the current one, have been edited*/